{% extends 'base.html' %} {% load static %} {% block css %} <br />
<link rel="stylesheet" href="{% static 'form.css' %}" /> {% endblock css %}<br />
<br />
{% block nav %}
<h2 class="title">New Entry</h2>
{% endblock nav %} {% block contents %}
<section>
    <form action="{{ path }}" method="post">
        {% csrf_token %} {% for field in form %}
        <div class="form-item">
            <label for="{{ field.id }}">{{field.label}}:</label>
            {{field}}
        </div>
        {% endfor %}
        <div class="button">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</section>
{% endblock contents %} {% block add_icon %}
<svg
    id="add_icon"
    height="512"
    viewBox="0 0 24 24"
    width="512"
    xmlns="http://www.w3.org/2000/svg"
    data-name="Layer 1"
>
    <path
        d="m12 0a12 12 0 1 0 12 12 12.013 12.013 0 0 0 -12-12zm0 22a10 10 0 1 1 10-10 10.011 10.011 0 0 1 -10 10zm5-10a1 1 0 0 1 -1 1h-3v3a1 1 0 0 1 -2 0v-3h-3a1 1 0 0 1 0-2h3v-3a1 1 0 0 1 2 0v3h3a1 1 0 0 1 1 1z"
    />
</svg>
{% endblock add_icon %}
