<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="form.css" />
        <link rel="stylesheet" href="base.css" />

        <title>To Do App</title>
    </head>
    <body>
        <div class="container">
            <nav>
                <h2 class="title">New Entry</h2>
            </nav>
            <section>
                <form action="">
                    <div class="form-item">
                        <label for="img">Logo:</label>
                        <input placeholder="img" type="file" />
                    </div>
                    <div class="form-item">
                        <label for="title"> Title:</label>
                        <input
                            value="The FUcking Task!"
                            placeholder="Title"
                            type="text"
                            name="title"
                        />
                    </div>
                    <div class="form-item">
                        <label for="tag">Tag:</label>
                        <input
                            value="Market"
                            placeholder="Tag"
                            type="text"
                            name="tag"
                        />
                    </div>
                    <div class="form-item">
                        <label for="details">Details:</label>
                        <input
                            type="text"
                            name="details"
                            id=""
                            maxlength="255"
                            placeholder="Details"
                            value="FUck it all"
                            height="300px"
                        ></input>
                    </div>
                    <div class="button">
                        <button class="btn btn-primary" type="submit">
                            Update
                        </button>
                    </div>
                </form>
            </section>
            <main>
                <section class="options">
                    <div class="options-items">
                        <a href="index.html" class="options-item">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                id="Outline"
                                viewBox="0 0 24 24"
                                width="512"
                                height="512"
                            >
                                <path
                                    d="M7,0H4A4,4,0,0,0,0,4V7a4,4,0,0,0,4,4H7a4,4,0,0,0,4-4V4A4,4,0,0,0,7,0ZM9,7A2,2,0,0,1,7,9H4A2,2,0,0,1,2,7V4A2,2,0,0,1,4,2H7A2,2,0,0,1,9,4Z"
                                />
                                <path
                                    d="M20,0H17a4,4,0,0,0-4,4V7a4,4,0,0,0,4,4h3a4,4,0,0,0,4-4V4A4,4,0,0,0,20,0Zm2,7a2,2,0,0,1-2,2H17a2,2,0,0,1-2-2V4a2,2,0,0,1,2-2h3a2,2,0,0,1,2,2Z"
                                />
                                <path
                                    d="M7,13H4a4,4,0,0,0-4,4v3a4,4,0,0,0,4,4H7a4,4,0,0,0,4-4V17A4,4,0,0,0,7,13Zm2,7a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V17a2,2,0,0,1,2-2H7a2,2,0,0,1,2,2Z"
                                />
                                <path
                                    d="M20,13H17a4,4,0,0,0-4,4v3a4,4,0,0,0,4,4h3a4,4,0,0,0,4-4V17A4,4,0,0,0,20,13Zm2,7a2,2,0,0,1-2,2H17a2,2,0,0,1-2-2V17a2,2,0,0,1,2-2h3a2,2,0,0,1,2,2Z"
                                />
                            </svg>
                        </a>
                        <div class="add-option-container">
                            <a
                                href="add_form.html"
                                class="options-item add-option"
                                ><svg
                                    id="add_icon"
                                    height="512"
                                    viewBox="0 0 24 24"
                                    width="512"
                                    xmlns="http://www.w3.org/2000/svg"
                                    data-name="Layer 1"
                                >
                                    <path
                                        d="m12 0a12 12 0 1 0 12 12 12.013 12.013 0 0 0 -12-12zm0 22a10 10 0 1 1 10-10 10.011 10.011 0 0 1 -10 10zm5-10a1 1 0 0 1 -1 1h-3v3a1 1 0 0 1 -2 0v-3h-3a1 1 0 0 1 0-2h3v-3a1 1 0 0 1 2 0v3h3a1 1 0 0 1 1 1z"
                                    />
                                </svg>
                            </a>
                        </div>
                        <a href="profile.html" class="options-item">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                id="Outline"
                                viewBox="0 0 24 24"
                                width="512"
                                height="512"
                            >
                                <path
                                    d="M12,12A6,6,0,1,0,6,6,6.006,6.006,0,0,0,12,12ZM12,2A4,4,0,1,1,8,6,4,4,0,0,1,12,2Z"
                                />
                                <path
                                    d="M12,14a9.01,9.01,0,0,0-9,9,1,1,0,0,0,2,0,7,7,0,0,1,14,0,1,1,0,0,0,2,0A9.01,9.01,0,0,0,12,14Z"
                                />
                            </svg>
                        </a>
                    </div>
                </section>
            </main>
        </div>
    </body>
</html>
